<div itemscope itempro="organization" itemtype="http://schema.org/Organization">
  <div class = "container-fluid">
    <div class = "row" id="grid">
      <% obj.each do |x| %>
          <div class = "col-xs-6 col-md-3" id="listing-box">
            <div class = "thumbnail"style="padding:6px">
              <span itemprop="image"><%= link_to image_tag(x.avatar.url(:medium)), x %></span>
            </div>
            <div class="jumbotron"style="background-color:#fff;border:1px solid #DDDDDD;padding:0px;margin-top:-21px">
              <div class = "listing_name">
                <span itemprop="name"><%= link_to (truncate(x.name, length: 100)) %></span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>