<div class="jumbo" style="height: 200px; margin-top: -21px">
     <h1 style="text-align:center; color: #fff; font-family: 'Lato-Medium', sans-serif">We are a T-Shirt search platform</h1><br>
      <div class="main-navigation">
        <%= link_to 'Collections', categories_path, class: "btn-landing" %>
        <%= link_to 'Brands', sellers_path, class: "btn-landing" %>
      </div>
</div>
<div class = "container">
  <h2  class="product-list-header">FEATURED BRANDS</h2><br>
    <div class = "c-row" id="c-grid">
      <% @sellers.where(:admin => false && seller.listings != 0).each do |s| %>
        <div class = "col-xs-6 col-md-3" id="category-box">
          <div class = "image_c"style="padding:6px">
            <%= link_to image_tag(s.avatar.url(:medium) ), s %>
            <div class="overlay">
            </div>
            <span class="text"><span><%= link_to s.name, s %></span></span>
          </div>
        </div>
      <% end %>
    </div>
</div>