<div itemscope itempro="organization" itemtype="http://schema.org/Organization">
<div class="jumbo" style="height: 300px; margin-top: -21px">
    <iframe style="margin-top:10px; margin-left: 10px" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwheresmyteeapp%2F&width=141&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId" width="141" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
     <h1 style="text-align:center; color: #000; font-family: 'Lato-Heavy', sans-serif; margin-top: 5px">T-Shirts for the Millennial Generation</h1><br>
      <div class="main-navigation">
        <%= link_to 'Collections', categories_path, class: "btn-landing" %>
        <%= link_to 'Brands', sellers_path, class: "btn-landing" %>
      </div>
</div><br />
  <div class = "container">
    <h2  class="product-list-header">FEATURED BRANDS</h2><br>
      <div class = "c-row" id="c-grid">
        <% @sellers.where(:admin => false).each do |s| %>
          <% if s.listings.count > 0 %>
            <div class = "col-xs-6 col-md-3" id="category-box">
              <div class = "image_c"style="padding:6px">
                <span itemprop="image"><%= link_to image_tag(s.avatar.url(:medium) ), s %></span>
                  <div class="overlay">
                  </div>
                  <span class="text"><span itemprop="name"><%= link_to s.name, s %></span></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>