<% set_meta_tags canonical: "http://www.wheresmytee.com/pages/about" %>
	<body>
		<div class='container'>
			<div class="jumbotron"style="border:1px solid #000;opacity: 0.7">
				<h1 style="font-size: 40px;">About Us</h1>
						<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif" >
						India is fast becoming a progressive nation with a growing millennial population who want to express their views and opinions to the world. And what better way to accomplish this than with an eye-catching graphic t-shirt? In the last few years, a lot of innovative brands producing customized designs have risen and users now have a lot to choose from. Which brand and design do they choose when the time comes?</p>

						<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif" >Where's My Tee? is at its core - a T-Shirt Search Engine. We curate products from online stores all over India and have a vast inventory of tees based on a large number of themes. Whether you're into Anime, Game of Thrones, Bikes or Beer, we have it all.</p>

						<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif" >We do not sell. We advertise and present products for users with the goal of making the process of finding that right tee seamless. Once you find the right tee we redirect you to the portal where its available for purchase.</p>

						<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif" >Our platform is engineered to help YOU (our core user) connect with amazing brands and discover amazing tees with amazing designs.</p>

				<h2>AS A USER YOU CAN</h2>
					<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif">-	Explore our vast collection of graphic tees</p>
					<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif">-	Create your own personal catalog of tees based on your interests</p>
					<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif">-	Follow a specific brand and get updates on new tees</p>
					<p style="font-size: 19px; font=-family: 'Lato-Medium', sans-serif">-	Connect with these innovative brands and learn about offers and promotions</p>
			<h2>Your tee is a reflection of you</h2>

	</div>
</div>
</body>
