<div class='container'>
	<div class="jumbotron"style="border:1px solid #000;background-color:#fff">
		<h1 style="font-size: 40px">Careers</h1>
			<p class="about" style="font-size: 19px">We're always looking to add to our numbers. If you want creative and technical challenges that will revolutionize the face of online shopping, check out our contact details"</p> 
	</div>
</div>
