<% set_meta_tags canonical: "http://www.wheresmytee.com/pages/careers" %>
<div class='container-fluid'>
	<div class="jumbotron"style="border:1px solid #000;background-color:#fff">
		<h1 style="font-size: 40px">Careers</h1>
			<p class="about" style="font-size: 19px">We're always looking to add to our numbers. If you want creative and technical challenges that will revolutionize the face of online shopping, check out our contact details"</p> 


<div class="container-fluid">
  <h2>Available positions</h2><br />
  <button type="button" class="btn btn-success btn-lg" data-toggle="collapse" data-target="#demo">Design</button>
  <div id="demo" class="collapse"><br />
    <div class="jumbotron">
    <p>We are looking for innovative visionaries who specialize in front end development and UI design. If you're a designer who can code or a coder who wants to get into design, you'll fit right in.</p>
     </div>
  </div><br /><br />
  <button type="button" class="btn btn-success btn-lg" data-toggle="collapse" data-target="#demo1">Tech</button>
  <div id="demo1" class="collapse"><br />
    <div class="jumbotron">
    <p>Out platform is built on Ruby on Rails. We are looking for driven ruby programmers who love solving problems and invite more technical challenges into their day to day lifestyle. Experience or skills in website hosting and database management is a huge plus.</p>
     </div>
  </div><br /><br />
    <button type="button" class="btn btn-success btn-lg" data-toggle="collapse" data-target="#demo2">Business and Sales</button>
  <div id="demo2" class="collapse"><br />
    <div class="jumbotron">
    <p>We're always in the process of expanding our database to include new and innovative businesses to work with. If you can help us achieve that objective, send us a mail.</p>
     </div>
  </div><br /><br />
  	</div>
</div>

