<% set_meta_tags canonical: "http://www.wheresmytee.com/pages/contact" %>
<div class='container'>
	<div class="jumbotron"style="border:1px solid #000;background-color:#fff;height: 450px">
    <h3>Contact Details</h3>
  	   <p>info@wheresmytee.com</p>
			 <p>+91-9962050189</p>
  </div><br /><br />
</div>
