<div class='container'>
	<div class="jumbotron"style="border:1px solid #000;background-color:#fff">
		<h1 style="font-size: 40px">Contact Details</h1>
			<p class="about" style="font-size: 19px">Phone: +91-9962050189</p>
			<p class="about" style="font-size: 19px">Email: aquamystapp@gmail.com</p>
	</div>
</div>
