.btn-update-delete-admin
{
	font-family: 'Raleway-Light', sans-serif;
	color: #337ab7;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
}

.btn-update-delete-admin:hover
{
	font-family: 'Raleway-Light', sans-serif;
	color: #337ab7;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
}

