.category-jumbo-1
{
    background: url("motivation.jpg");
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.category-jumbo-2
{
    background: url("freedom.jpg");
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.category-jumbo-3
{
    background: url("lifestyle.png");
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.category-jumbo-4
{
    background: url("geeky.jpg");
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.category-jumbo-5
{
    background: url("interests.png");
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}