@font-face {
	font-family: 'Raleway-Light';
	src:font-url('Raleway-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Bold';
	src:font-url('Raleway-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Extralight';
	src:font-url('Raleway-Extralight.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Regular';
	src:font-url('Raleway-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Medium';
	src:font-url('Raleway-Medium.ttf') format('truetype');
}
