.btn-buy-it-now
{
	
    margin-top: -23px;
    font-family: 'Raleway-Medium', sans-serif;
    color: #fff;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 13px 40px 13px 40px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #337ab7;; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, blue, #337ab7); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, blue, #337ab7); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, blue, #337ab7); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, blue, #337ab7); /* Standard syntax */
}

.btn-buy-it-now:hover
{
	color: #fff;
}


.caption
{
	background-color: #000;
	color: #fff;
	padding: 6px !important;
}
.checkbox-inline + .checkbox-inline {
    margin-top: 1px;
    margin-left: 0px;
    display: inherit;
}
.cod
{
  font-family: 'Lato-Light', sans-serif;
  font-size: 20px;
}
.fill
{
	font-family: 'Slot-Regular', sans-serif;
	color: gray;
	font-size: 30px;
}

#grid
{
	width: 100%;
	margin: 0 auto;
}

.know-more
{
	margin-top: 5px;
	font-size: 15px;
}

.know-more > a
{		
	//color: #000;
}

#listing-box
{	
	 border-radius: 0px;
	 width: 300px;
	 padding-top: 33.7px!important;
	 //border: 1px solid #000;
}

.listing_name
{
	font-family: 'Slot-Regular', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
}

.listing-title
{
	font-family:'Raleway-Light', sans-serif;
	font-size:5px;
	font-weight: bold;
	text-align: center;
	margin-top: 5%;
}

.f
{
	font-family: 'Lato-Medium', sans-serif;
}

.product-list-header
{
	text-align:center;
	font-family: 'Vonique64', sans-serif;
}

.not-signed-in
{
	float: right;
	border: 1px solid gray;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	margin-top: -65px;
}

.save-remove
{
	float: right;
	padding: 6px;
	width: 150px;
	border-radius: 5px;
	background-color:  #3B5998;
	text-align: center;
	margin-top: -50px;
	border: 1px solid #1D45D6;
}

.save-remove > a
{
	color: #fff;
	font-family:'Runaway', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.save-remove > a:hover
{
	text-decoration: none;
}


.search-1
{
	padding: 30px;
	border: 1px solid #000;
}

.search-form
{
	width: 80%;
	display: inline-flex;
	//margin-top: 10px;
	padding: 20px;
	margin-left: 10%;
	margin-top: -40px;
}

.seller-name-on-product
{
	font-family: 'BELLABOO-Regular', sans-serif;
	font-size: 20px;
}

.seller-name-on-product > a
{
	color: #3B5998;
}

.seperator
{
	margin-top: 4px;
	font-family: 'signify', sans-serif;
	color: #fff;
	width: 100%;
	background-color: #000;
	text-align: center;
	height: 40px;
	padding-top: 10px;
}

.seperator > h4
{
	margin-top: 4px;
}

small > a
{
	font-family: 'BELLABOO-Regular', sans-serif;
	color: #3B5998;
	font-weight: bold;
	font-size: 25px!important;
	
}

a:hover
{
	text-decoration: none;
}
.time
{
	font-family: 'Lato-Light', sans-serif;
	font-size: 20px;
}

.title
{
	font-family: 'Slot-Regular', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.user-listing-count
{
	text-align: center;
	display: inline;
	font-weight: bold;
	color: #7D0000;
}

.user-listing-count > p
{
	border: 1px solid #7D0000;
}

.zoom2 > img
{
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 25px;
}

