.follow-unfollow
{
	border: 1px solid #40DDF5;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	background-color: #40DDF5;
	text-align: center;
}

.follow-unfollow > a
{
	color: #337AB7;
	font-family:'Runaway', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.follow-unfollow > a:hover
{
	text-decoration: none;
	color: #337AB7;
}

.follow-unfollow:hover
{
	background-color: #40DDF5;
	color: #337AB7;
}

.icons
{
	float: right;
	margin-top: -5px;
}

.img-circle
{
	height: 200px;
    width: 75%;
}

.user-not-signed-in
{
	border: 1px solid gray;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
}
.seller-header
{
	font-weight: bold;
	font-family: "Raleway-ExtraLight", sans-serif;
}

.seller-name
{
	color:#00a6bc;
	font-family: "signify", sans-serif;
}

.seller-description
{
	color: #337ab7;	
}
.seller-description > p
{
	font-size: 17px;
	font-family: 'Lato-Light', sans-serif;
}

.seller-listing
{
	text-align: center;
	margin-top: -12px;
	font-size: 12px;
}

.seller-location > p
{
	font-family: 'Lato-Regular', sans-serif;
}

small > a
{
	font-size: 15px;
}


.seller-location
{
	color:#000;
	font-family: "Raleway-Bold", sans-serif;
}

.seller-location > p
{
	font-size: 20px;
}

.thumbnail > img, .thumbnail a > img 
{
	height: 200px;
	margin-top: 20px;
}

.user-count
{
	font-family: 'Raleway-Regular', sans-serif;
}