$size: 30px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size!important;
    height: $size!important;
    width: $size!important;
  }
}

.social-icons
{
	//float: right;
	margin-top: -35px;
}

.social-icons img
{
	height: 50px;
	transition: all .2s ease-in-out;
}

.social-icons img:hover
{
	transform: scale(1.3);
}

.social-sidebar {
    float: left;
    z-index: 1;
    margin-top: 250px;
    position: fixed;
}


.fixed {  
	position: fixed; 
	top: 0; 
}
