<div class="jumbo" style="height: 200px; margin-top: -21px">
     <h1 style="text-align:center; color: #fff; font-family: 'Lato-Medium', sans-serif">We are a T-Shirt search platform</h1><br>
      <div class="main-navigation">
        <%= link_to 'Collections', categories_path, class: "btn-landing" %>
        <%= link_to 'Brands', sellers_path, class: "btn-landing" %>
      </div>
</div>
<h2  class="product-list-header"><%= @category.name %> tees</h2>
<%= render 'listings/listing', obj: @category_listings %>