<h5>Hi <%= @resource.name %>!</h5>

<p>You've requested to have your password changed.</p>
<p style='color: #3B5998'>Click on this link so you can login and continue exploring wicked tees.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please contact us immediately.</p>

<h5 style='font-family: 'Raleway-Medium', sans-serif'>We really appreciate your continued support of our platform.</h5>

<h4 style='font-family: 'Raleway-Medium', sans-serif'>Stay Awesome!!!!</h4>
